.dynamic-grid {
  width: $w-full;
  .item-content {
    border-radius: 0.8rem;
    overflow: hidden;
  }
  .grid-one-item,
  .grid-two-items,
  .grid-three-items,
  .grid-four-items {
    width: $w-full;
    display: grid;
    gap: 0.5rem;
  }
  .grid-one-item {
    grid-template-columns: 1fr;
  }
  .grid-two-items {
    grid-template-columns: 1fr 1fr;
    .item-content {
      width: auto;
    }
  }
  .grid-three-items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    .item-content {
      width: auto;
      &:first-child {
        grid-column: span 2;
      }
    }
  }
  .grid-four-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    .item-content {
      width: auto;
      &:first-child {
        grid-column: span 3;
      }
    }
  }
  .grid-five-items {
    display: flex;
    gap: 0.5rem;
    .items-group {
      width: $w-full;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      flex-grow: 1;
      flex-shrink: 0;
      &:first-child {
        width: calc($w-full - 35%);
      }
      &:last-child {
        width: calc($w-full - 65%);
      }
      .item-content {
        width: auto;
        flex-grow: 1;
        position: relative;
        .content-layer {
          width: $w-full;
          height: $h-full;
          background: $bg-black-rgba-md;
          color: $text-white;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }
    }
  }
}
