.content {
  width: $w-full;
  background: $bg-white;
  transition: all $transition-time-sm $transition-fn;
}

.content-layout {
  margin-top: $m-5 + 1;
  @include respond(mdTablet) {
    margin-top: $m-2;
  }
}

.content-resize {
  margin-left: 25rem;
  @include respond(mdTablet) {
    margin-left: 0;
  }
}

.content-shrinked {
  margin-left: 6rem;
}

.content-dark {
  background: $bg-deep-blue;
  * {
    color: $text-white;
  }
}
