.content {
  width: $w-full;
  min-height: $h-screen;
  background: $bg-white;
  transition: all $transition-time-sm $transition-fn;
}

.content-layout {
  padding-top: $m-5 + 1;
  @include respond(mdTablet) {
    padding-top: $m-2;
  }
}

.content-resize {
  padding-left: 25rem;
  @include respond(mdTablet) {
    padding-left: 0;
  }
}

.content-shrinked {
  padding-left: 6rem;
}

.content-dark {
  background: $bg-dark;
  * {
    color: $text-white;
  }
}
