.tabs-horizontal {
  width: $w-full;
  .tabs-horizontal-head {
    width: $w-full;
    margin-bottom: $m-2;
    background: $bg-slate;
    border-top-left-radius: $rounded;
    border-top-right-radius: $rounded;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    &:hover {
      overflow-x: auto;
    }
    .head-item {
      min-width: max-content;
      width: $w-10;
      height: $h-4;
      padding: $p-1 - 0.4;
      transition: all $transition-time-md $transition-fn;
      cursor: pointer;
      .item-inner {
        height: $h-3;
        padding: $p-1 - 0.4 $p-1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $rounded-lg;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: background-color $transition-time-xs $transition-fn,
          color $transition-time-xs $transition-fn, top $transition-time-xs $transition-fn,
          transform $transition-time-xs $transition-fn;
        .inner-icon {
          margin-right: $m-1 - 0.5;
        }
      }
    }
    .head-item-active {
      .item-inner {
        top: 0.4rem;
        transform: translate(-50%, 0);
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
        background: $bg-white;
        box-shadow: 0 0 5px $bg-gray;
        &::after {
          content: unset;
        }
      }
    }
  }
  .tabs-horizontal-content {
    width: $w-full;
    background: $bg-white;
    & > * {
      animation: fade $transition-time-md $transition-fn;
    }
  }
}

// Color
.tabs-horizontal-blue {
  .tabs-horizontal-head {
    .head-item {
      &:hover .item-inner {
        background: $bg-blue-rgba-xs;
      }
    }
    .head-item-active {
      .item-inner {
        color: $text-blue;
        * {
          color: $text-blue;
        }
      }
      &:hover .item-inner {
        background: $bg-white;
      }
    }
  }
}

.tabs-horizontal-red {
  .tabs-horizontal-head {
    .head-item {
      &:hover .item-inner {
        background: $bg-red-rgba-xs;
      }
    }
    .head-item-active {
      .item-inner {
        color: $text-red;
        * {
          color: $text-red;
        }
      }
      &:hover .item-inner {
        background: $bg-white;
      }
    }
  }
}

.tabs-horizontal-green {
  .tabs-horizontal-head {
    .head-item {
      &:hover .item-inner {
        background: $bg-green-rgba-xs;
      }
    }
    .head-item-active {
      .item-inner {
        color: $text-green;
        * {
          color: $text-green;
        }
      }
      &:hover .item-inner {
        background: $bg-white;
      }
    }
  }
}

.tabs-horizontal-orange {
  .tabs-horizontal-head {
    .head-item {
      &:hover .item-inner {
        background: $bg-orange-rgba-xs;
      }
    }
    .head-item-active {
      .item-inner {
        color: $text-orange;
        * {
          color: $text-orange;
        }
      }
      &:hover .item-inner {
        background: $bg-white;
      }
    }
  }
}

.tabs-horizontal-yellow {
  .tabs-horizontal-head {
    .head-item {
      &:hover .item-inner {
        background: $bg-yellow-rgba-xs;
      }
    }
    .head-item-active {
      .item-inner {
        color: $text-yellow;
        * {
          color: $text-yellow;
        }
      }
      &:hover .item-inner {
        background: $bg-white;
      }
    }
  }
}

.tabs-horizontal-orange {
  .tabs-horizontal-head {
    .head-item {
      &:hover .item-inner {
        background: $bg-orange-rgba-xs;
      }
    }
    .head-item-active {
      .item-inner {
        color: $text-orange;
        * {
          color: $text-orange;
        }
      }
      &:hover .item-inner {
        background: $bg-white;
      }
    }
  }
}

.tabs-horizontal-purple {
  .tabs-horizontal-head {
    .head-item {
      &:hover .item-inner {
        background: $bg-purple-rgba-xs;
      }
    }
    .head-item-active {
      .item-inner {
        color: $text-purple;
        * {
          color: $text-purple;
        }
      }
      &:hover .item-inner {
        background: $bg-white;
      }
    }
  }
}

.tabs-horizontal-pink {
  .tabs-horizontal-head {
    .head-item {
      &:hover .item-inner {
        background: $bg-pink-rgba-xs;
      }
    }
    .head-item-active {
      .item-inner {
        color: $text-pink;
        * {
          color: $text-pink;
        }
      }
      &:hover .item-inner {
        background: $bg-white;
      }
    }
  }
}

// Theme
.tabs-horizontal-dark {
  .tabs-horizontal-head {
    background: $bg-black;
    .head-item {
      .item-inner {
        background: $bg-deep-blue;
      }
    }
    .head-item-active {
      .item-inner {
        box-shadow: 0 0 5px $bg-black;
        &:hover {
          background: $bg-deep-blue;
        }
      }
    }
  }
  .tabs-horizontal-content {
    background: $bg-deep-blue;
  }
}
